@import url("https://esm.sh/pdfjs-dist@4.10.38/web/pdf_viewer.css");

body {
    background-color: #808080;
    margin: 0;
    padding: 0;
}

#viewerContainer {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.topbar {
    z-index: 9999   ;
    height: 32px;
}

.topbar-button {
    height: 32px;
    width: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}