body {
    background-color: #808080;
    margin: 0;
    padding: 0;
}
#viewerContainer {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.topbar {
    height: 32px;
}

.topbar-button {
    height: 32px;
    width: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}